.map {
    &__container {
        min-width: 1180px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
    }

    &__title {

        font-weight: 400;
        font-size: 50px;
        color: #031412;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 50px;
        color: #031412;

    }

    &__maps {
        

    }

}