.map {
    

   
    &__description {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    &__img {
        max-width: 1071px;
    }
    
    &__content{
        display: flex;
    }

}